<!DOCTYPE html>
<html lang="en">
<head>
    {{>links}}
</head>
<body>
    {{>navbar}}

    <section class="about">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                    <img src="./images/profile.png" alt="profile">
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 about_content">
                    <h1>Hello Iam <span>Thui Sing </span> </h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum tenetur nostrum maxime velit quas porro fuga sit voluptatibus ullam, eos, voluptate rerum molestias enim cupiditate veniam ut provident tempore?</p>
                </div>
            </div>
        </div>
    </section>

    {{>footer}}
</body>
</html>